/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2016, 3:35:24 PM
    Author     : mamadu
*/
/*increasing radio button size*/
    #radio-group > input[type=radio] {
    border: 0px;
    width: 2em;
    height: 2em;
}

.selectOneRadioClass{
  background-color: pink;
}

/*instead of using disabled class and enabled class to style label of input we can use css only*/
/*input[type=radio] ~ label {
    background-color: blue;
    
}*/


div dt {
    display: block;
    background: -webkit-linear-gradient(top, #f7e0a2, #d1b875);
    border-color: #a98f47;
}
div dl {
    display: block;
}
div dd {
  display: block;
  width: 100%;
  min-height: 80px;
 border: 1px solid #cccccc;
  margin: 0; /* important catch: this will bring  dd to left as dds are normall/ padded right */
}